# Installing MySQL Conenctor

In [2]:
!python -m pip install ipykernel -U --user --force-reinstall

Collecting ipykernel
  Using cached ipykernel-6.19.4-py3-none-any.whl (145 kB)
Collecting psutil
  Using cached psutil-5.9.4-cp36-abi3-win_amd64.whl (252 kB)
Collecting jupyter-client>=6.1.12
  Downloading jupyter_client-7.4.8-py3-none-any.whl (133 kB)
     -------------------------------------- 133.5/133.5 kB 1.3 MB/s eta 0:00:00
Collecting matplotlib-inline>=0.1
  Using cached matplotlib_inline-0.1.6-py3-none-any.whl (9.4 kB)
Collecting traitlets>=5.4.0
  Downloading traitlets-5.8.0-py3-none-any.whl (116 kB)
     -------------------------------------- 116.8/116.8 kB 2.3 MB/s eta 0:00:00
Collecting packaging
  Downloading packaging-22.0-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.6/42.6 kB ? eta 0:00:00
Collecting pyzmq>=17
  Using cached pyzmq-24.0.1-cp39-cp39-win_amd64.whl (999 kB)
Collecting tornado>=6.1
  Using cached tornado-6.2-cp37-abi3-win_amd64.whl (425 kB)
Collecting comm>=0.1.1
  Using cached comm-0.1.2-py3-none-any.whl (6.5 kB)
Collecting nest-asyncio
  Using cached nest_asyncio-1.5.6-py3-none-any.whl (5.2 kB)
Collecting debugpy>=1.0
  Downloading debugpy-1.6.4-cp39-cp39-win_amd64.whl (4.8 MB)
     ---------------------------------------- 4.8/4.8 MB 910.4 kB/s eta 0:00:00
Collecting ipython>=7.23.1
  Downloading ipython-8.7.0-py3-none-any.whl (761 kB)
     ------------------------------------ 761.7/761.7 kB 624.7 kB/s eta 0:00:00
Collecting colorama
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting prompt-toolkit<3.1.0,>=3.0.11
  Downloading prompt_toolkit-3.0.36-py3-none-any.whl (386 kB)
     ------------------------------------ 386.4/386.4 kB 559.8 kB/s eta 0:00:00
Collecting stack-data
  Downloading stack_data-0.6.2-py3-none-any.whl (24 kB)
Collecting pickleshare
  Using cached pickleshare-0.7.5-py2.py3-none-any.whl (6.9 kB)
Collecting backcall
  Using cached backcall-0.2.0-py2.py3-none-any.whl (11 kB)
Collecting pygments>=2.4.0
  Downloading Pygments-2.14.0-py3-none-any.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 800.6 kB/s eta 0:00:00
Collecting decorator
  Using cached decorator-5.1.1-py3-none-any.whl (9.1 kB)
Collecting jedi>=0.16
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 422.5 kB/s eta 0:00:00
Collecting entrypoints
  Using cached entrypoints-0.4-py3-none-any.whl (5.3 kB)
Collecting python-dateutil>=2.8.2
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting jupyter-core>=4.9.2
  Downloading jupyter_core-5.1.1-py3-none-any.whl (93 kB)
     -------------------------------------- 93.2/93.2 kB 482.5 kB/s eta 0:00:00
Collecting parso<0.9.0,>=0.8.0
  Using cached parso-0.8.3-py2.py3-none-any.whl (100 kB)
Collecting platformdirs>=2.5
  Downloading platformdirs-2.6.2-py3-none-any.whl (14 kB)
Collecting pywin32>=1.0
  Downloading pywin32-305-cp39-cp39-win_amd64.whl (12.2 MB)
     -------------------------------------- 12.2/12.2 MB 336.7 kB/s eta 0:00:00
Collecting wcwidth
  Using cached wcwidth-0.2.5-py2.py3-none-any.whl (30 kB)
Collecting six>=1.5
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting pure-eval
  Using cached pure_eval-0.2.2-py3-none-any.whl (11 kB)
Collecting asttokens>=2.1.0
  Downloading asttokens-2.2.1-py2.py3-none-any.whl (26 kB)
Collecting executing>=1.2.0
  Downloading executing-1.2.0-py2.py3-none-any.whl (24 kB)
Installing collected packages: wcwidth, pywin32, pure-eval, pickleshare, executing, backcall, traitlets, tornado, six, pyzmq, pygments, psutil, prompt-toolkit, platformdirs, parso, packaging, nest-asyncio, entrypoints, decorator, debugpy, colorama, python-dateutil, matplotlib-inline, jupyter-core, jedi, comm, asttokens, stack-data, jupyter-client, ipython, ipykernel

ERROR: Could not install packages due to an OSError: [Errno 28] No space left on device

In [2]:
!python -m pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp310-cp310-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 2.8 MB/s eta 0:00:00
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp310-cp310-win_amd64.whl (903 kB)
     -------------------------------------- 903.8/903.8 kB 2.4 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000272F022C2B0>

# Creating a Database

In [5]:
new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE newData")

# To Show All Databases

In [16]:
new_cursor.execute("SHOW DATABASES")
for n in new_cursor:
    print(n)

('information_schema',)
('mysql',)
('newdata',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# To Connect with the Database

In [16]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)

# Creating Tables ans Showing Data

In [ ]:
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

# List all tables in the database

In [3]:
new_cursor.execute("SHOW TABLES")
for x in new_cursor:
    print(x)

('clients',)
('students',)

# Add Primary Key if table already exists

In [24]:
new_cursor.execute("CREATE TABLE clients (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

# To create a primary key in an already existing database we use

In [25]:
new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# To insert records into a table

In [32]:
new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_val = ("Ronaldo", "Code12")
new_cursor.execute(new_sql, new_val)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

# To insert multiple values inside e table

In [1]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()
new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"

new_vals = [
    ("Messi", "CODE30"),
    ("Pogba", "CODE06"),
    ("Salah", "CODE11"),
    ("Someone", "CODE110"),
]
new_cursor.executemany(new_sql, new_vals)

new_db.commit()
print(new_cursor.rowcount, "records inserted")

4 records inserted

# Selecting Table's data

In [2]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * from students")
new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'Code12', 1)
('Ronaldo', 'Code12', 2)
('Messi', 'CODE30', 3)
('Pogba', 'CODE06', 4)
('Salah', 'CODE11', 5)
('Someone', 'CODE110', 6)

# Selecting a column from a table

In [1]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT name, code from students")
new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'Code12')
('Ronaldo', 'Code12')
('Messi', 'CODE30')
('Pogba', 'CODE06')
('Salah', 'CODE11')
('Someone', 'CODE110')

# Selecting a row from a table

In [2]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * from students")
new_data = new_cursor.fetchone()

print(new_data)

('Ronaldo', 'Code12', 1)

# Filter the result

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * from students WHERE name = 'Ronaldo'")
new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'Code12', 1)
('Ronaldo', 'Code12', 2)

# Filtering Wildcard Characters

In [1]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * from students WHERE name LIKE '%messi%'")
new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Messi', 'CODE30', 3)

# Sorting Resutls by name

In [4]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * from students ORDER BY name")
new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Pogba', 'CODE06', 3)
('Ronaldo', 'Code12', 1)
('Salah', 'CODE11', 4)
('Someone', 'CODE110', 5)

# Deleting a Record

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="newdata"
)
new_cursor = new_db.cursor()

new_sql = "DELETE from students WHERE name = %s"
name = ("Messi",)
new_cursor.execute(new_sql, name)
new_db.commit()
print(new_cursor.rowcount, " record deleted from newdata")

0  record deleted from newdata

# To delete a table

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="19800",
    database="newdata"
)
new_cursor = new_db.cursor()

new_sql = "DROP TABLE IF EXISTS clients"
new_cursor.execute(new_sql)